@use "variables.scss" as *;

.cta {
  background-image: url("../images/cta-bg.svg");
  background-position: center;
  background-attachment: scroll;
  background-size: cover;

  min-height: 100vh;
  padding-block: 5rem;
  margin-top: 6.25rem;

  overflow: hidden;

  color: $color-neutral-900;

  .title {
    text-align: right;
    max-width: 270px;

    margin-left: auto;
    padding-inline: 1rem;

    @media (width > 440px) {
      max-width: 340px;
    }
  }

  .container {
    max-width: 1340px;
    margin-inline: auto;
  }

  &__cards {
    width: 100%;
    display: flex;
    gap: 24px;

    margin-top: 400px;
    padding-inline: 16px;
  }

  &__card {
    min-width: 340px;
    padding: 32px 24px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid rgb(189, 189, 189);

    min-height: 176px;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 0.75rem;
    }

    p {
      margin: 0;
      color: $color-neutral-900;

      font-size: clamp(0.75rem, 2vh, 1rem);
    }

    .ph {
      font-size: 1.625rem;
      display: flex;
    }
  }

  .card-black {
    background-color: black;

    border: none;
  }

  @media (width >= 940px) {
    .title {
      max-width: 600px;

      h2 {
        font-size: 3.5rem;
      }
    }

    &__cards {
      margin-top: 10rem;
      max-width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      grid-template-rows: 176px;
    }

    &__card {
      min-width: auto;
      width: 100%;
    }

    overflow-x: hidden;

    &__card:nth-child(1),
    &__card:nth-child(2),
    &__card:nth-child(3) {
      grid-row: 2;
    }

    &__card:last-child {
      grid-row: 1;
      grid-column: 2;
    }
  }
}
